#maptitle {
    background-color: #595551;
    vertical-align: middle;
    border-style: solid;
    border-color: #353839;
}

#mapT {
    padding: 0.5px;
    text-align: center;
    margin: 0em;
    color: #FFFFFF;
    font-size: 2.5em;
    text-shadow: 1.5px 1.5px #727472;
    font-family: Arvo; 
    font-style: normal; 
    font-variant: small-caps;
    font-weight: 700; 
    line-height: 35px; 
    
}

.leaflet-popup-content p {
    margin: 0.2em;
}

#map {
    height: 100%;
    transition: 0.5s;
}
